body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Primeira imagem de fundo*/
.parallax1 {
    background-image: url('../img/imagem\ 1.jpg');
}

/* Segunda imagem de foto*/
.parallax2 {
    background-image: url('../img/imagem-clientes.jpg');
}

.content {
    height: 100vh;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}
