h1 {
    /*H1 tem a preferência. a cor brown mão é aplicada ao header*/
    color: blue;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;

}

p {
    color: cadetblue;
    font-size: 2em;
}

header {
    color: brown;
}