header {
    background-color: darkseagreen;
    color: black;
    padding: 0 0 40px 40px;
    text-align: left;
    width: 75%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
    background-color: bisque;
}

section {
    margin: 80px;
}

section h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    background-color: darkseagreen;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

article p {
    margin: 20px;
    font-size: 1.3rem;
}

article h3 {
    font-size: 1.5rem;
}

nav {
    background-color: cadetblue;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
}


#imagem-central {
    width: 1000px;
    height: 1000px;
}

.colunas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.coluna-um,.coluna-dois {
    width: 45%;
    text-align: justify;
    line-height: 1.8;
}

#fonte-header {
    font-family: "Piedra", sans-serif;
    font-weight: 90px;
    font-size: 5rem;
}

#imagem-cabecalho {
    margin: 0;
    padding: 0;
    width: 75%;
    height: auto;
}

.caixa-branca { 
    padding: 10px;
    color: black;
    margin: 5px 40px;
    font-size: 1.5rem;
}
.texto-verde {
    color: darkgreen;
}

.float-right {
    float: right;
    margin: 20px;
}

.float-left {
    float: left;
    margin: 20px;
}

.fonte-h2 {
    font-family: "Monomakh", sans-serif;
}