* {
    box-sizing: border-box;
    font-family: "roboto";
    font-weight: bold;
}

/*
* Estilo do corpo da página
* Usa flexbox com direção em coluna 
* Garante que o body ocupe pelo menos toda a altura da viewport
*/
body {
    display: flex; /* Ativa o flexbox*/
    min-height: 100vh;/* 100% de altura da viewport*/
    flex-direction: column; /* Organiza os filhos verticalmente*/
    margin: 0; /* Remove margens padrão*/
}

/*
* Container principal (main)
* Também usa flexbox para organizar seus filhos
* flex: 1 faz com que ocupe todo o espaço disponível entre header e footer
*/
main {
    display: flex; /* Ativa flexbox para os filhos diretos*/
    flex: 1; /* Cresce para ocupar todo espaço vertical disponível*/
}

/* 
* Estilos para o artigo principal
* flex: 1 faz com que ocupe todo espaço restante
* order: 1 define que será o primeiro item da oredem visual
*/
main > article {
    flex: 1;
    order: 1;
}

/*
*Estilos compartilhados para nav e aside
* flex: 0 0 20vw - não cresce, não espande, largura fixa de 20vw
*/
main > nav,
main > aside {
        flex: 0 0 20vh; /* Largura fixa de 20vw*/
}

/*
* Estilos específicos a navegação (nav)
* order: 3 define que será o terceiro item na ordem visual
*/
main > nav {
    background-color: #d7e8d4; /* Cor de fundo verde claro*/
    order: 3; /* Ordem de exibição (3º lugar*/
}

/*
* Estilos específicos para o aside (barra lateral)
* order: 2 define que será o segundo item na ordem visual
*/
main > aside {
    background-color: beige; /* Cor de fundo bege*/
    order: 2; /* Ordem de exibição (3º lugar)*/
}

/* 
* Estilos compartilhados para o header e footer
* Altura fixa de 20vh (20% da altura da viewport)
* Mesma cor de fundo para ambos
*/
header,
footer {
    background-color: rgba(242, 116, 6); /* Cor de findo verde-amarelado*/
    height: 20vh;/* Altura de 20% da viewport*/
}

/*
* Estilos de padding para todos os elementos estruturais
* Aplica 1em de padding em todos os lados
*/
header,
footer,
article,
nav,
aside {
    padding: 1em; /* Espaçamento interno de 1 unidade relativa ao tamnaho da fonte*/
}

/*
* Explicação das unidades de medida utilizadas
* 
* "vh" (viewport heigth): Unidade relativa á altura da viewport.
*  Ex: 20vh = 20% da altura da área visível do navegador
*
* "vw" (viewport width): Unidade relativaà largura de viewport.
*  Ex: 20vw = 20% da largura da área visível do navegador
*
* "em": Unidade relativa ao tamnaho da fonte do elemento pai.
*  Ex: se o elemento pai tem font-size de 16px, 1em =16 px
*/